ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  margin: 4px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

li button {
  float: right;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

li button.delete_button {
  background-color: #f44336;
  color: white;
}

li button.edit_button {
  background-color: #a2f869;
  color: black;
}
